header {
  background: green;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}
body{
  background-color: lightblue;
}

.regiments{
  width: 20vw;
  height: 20vh;
  background: lightcoral;
  margin: 20px;
  /* display: flex;
  flex-direction: row; */
}
.regimentImage{
  width: 5vw;
  height: 5vh;
}

.exercises{
  display: flex;
  flex-direction: column;
}